:root {
    --primary-tiitle: #3A3A3A;
    
    



}

/*  nav bar */
body{
    background-color: #fff;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    list-style: none;
    margin-right: 7.5rem;
    gap: 1.125rem;

}
 nav li{
    list-style: none;
 }

    


nav a{
    text-decoration: none;
    color: var(--primary-tiitle);
}

.nav-tiitle {
    color: var(--primary-tiitle);
    font-family: Poppins;
    font-size: 24px;

    font-weight: 700;
    margin-left: 7.5rem;
}
/*  Header Section */
.banner{
    display: flex;
    align-items: center;
}
.banner-content{
    align-items: center;
    margin-left: 7.65rem;
}
banner-tittle{
    font-size: 52px;
    font-weight: 700;
}
.banner-paragraph{
    color: #3A3A3A;

font-family: Poppins;
font-size: 16px;

font-weight: 600;

}

.button-primary{
    border-radius: 41px;
background: #E02C6D;
color: #fff;
padding: 10px 24px;
}